body {
    font-family: 'Roboto', helvetica, arial, sans-serif;
    color: #252525;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 15% 25px 15%;
}

.menu {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
}

.menu a {
    text-decoration: none;
    color: #252525;
}

.menu p {
    padding: 0px 15px 0px 15px;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
}

.logo {
    display: flex;
    width: 20%;
    justify-content: flex-start;
}

.spin {
    animation: spin ease-in-out 7s 2 alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.Menuitems:hover {
    border-style: none none solid none;
    border-color: darkgray;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15%;
    height: fit-content;

}

.leftside {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    width: min-content;
    margin-top: 11px;
}

.leftside h2 {
    padding-top: 30px;
}

.leftside h3 {
    padding-top: 30px;
}

.leftsidemobile {
    display: flex;
    flex-direction: column;

}

.intromobile {
    flex-direction: column;
    margin: 1.5rem 0 1.5rem 0;
}

.intromobileimg {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intromobileimg h2 {
    margin: auto;
}



.rightside {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.rightside p {
    width: 792px;
    height: 575px;
}

#myphoto {
    width: 286px;
    height: 260px;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    padding-top: 40px;
}

.buttoncontainer a {
    text-decoration: none;
    color: #252525;
    padding: 0px 15px 0px 15px;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
}

#button {
    border:2px solid #252525;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
#button:hover {
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.10);
  }

.rightside img {
    padding: 10px;
}

.footer {
    margin: 0 15%;
}

/*individual Project page*/

.background {
    background-color: #E8F0FD;
}

.overview {
    margin: 0 8%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
        "toprow toprow "
        "downleftside downrightside "
    ;
}

.overview img {
    width: 997px;
    height: 451px;
}

.toprow {
    grid-area: toprow;
    display: flex;

}

.downleftside {
    grid-area: downleftside;
    display: flex;
    align-items: center;
}

.downrightside {
    grid-area: downrightside;
    width: 979px;
    height: 451px;
    display: flex;
    justify-items: end;
}

.Frame1 {
    margin: 35px 8%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Frame1 h3 {
    line-height: 33px;
}

.huristicgrid {
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "navm Huristicimg Huristicimg"
        "sebar Huristicimg Huristicimg"
        "chat signin links"
    ;
}

.navm {
    grid-area: navm;
}

.sebar {
    grid-area: sebar;
}

.chat {
    grid-area: chat;
}

.signin {
    grid-area: signin;
}

.links {
    grid-area: links;
}

.Huristicimg {
    grid-area: Huristicimg;
}

.huristicgrid h4 {
    color: #FB0505;
}

.usabilityresult {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background: #E8F0FD;
}

.cardsort {
    display: flex;
    justify-content: center;
}

.rn {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}

/*Projects */
.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15%;
    height: fit-content;
    gap: 1rem;
}

.Projects div {

    width: 674px;
    height: 290px;
}

#p3 {
    background-color: #FEF7DF;
}

#p4 {
    background-color: #FCE8E6;
}

/*AboutMe */
.AboutMe {
    margin: 0 15% 25px 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 10px;
    grid-template-areas:
        "aboutmeimg aboutmecontent aboutmecontent"
        "education experience skills"
        "buttoncontainer1 buttoncontainer2 buttoncontainer3"
    ;
}

.aboutmeimg {
    grid-area: aboutmeimg;
    margin: 1.33em auto 1.33em auto;
}

.aboutmecontent {
    grid-area: aboutmecontent;
    margin-left: 1.33em;
}

.education {
    grid-area: education;
    display: flex;
    flex-direction: column;
    padding: 5%;

}

.experience {
    grid-area: experience;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.skills {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    padding: 5%;

}

.buttoncontainer1 {
    grid-area: buttoncontainer1;
}
.buttoncontainer2 {
    grid-area: buttoncontainer2;
}
.buttoncontainer3 {
    grid-area: buttoncontainer3;
}
.buttoncontainer1 a{
    text-decoration: none;
    color: #252525;
}
.buttoncontainer2 a{
    text-decoration: none;
    color: #252525;
}
.buttoncontainer3 a{
    text-decoration: none;
    color: #252525;
}

/* Typography CSS */

.h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
}

h2 {
    font-weight: 500;
    font-size: 38px;
    margin: 0px 0px;
    line-height: 45px;
    font-style: normal;
}

h3 {
    font-weight: 400;
    font-size: 28px;
    margin: 0px 0px;
    line-height: 33px;
    font-style: normal;
}

h4 {
    font-weight: 400;
    font-size: 21px;
    font-style: normal;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
}

.mood {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "moodleft moodright"
    ;
    justify-content: center;
    justify-items: center;
}

.moodleft {
    grid-area: moodleft;
}

.moodright {
    grid-area: moodright;
}

.cardsort {
    display: flex;
}

.footer p{
    font-size: 0.9rem;
}

@media only screen and (max-width: 1000px) {
    .menu {
        display: none;
    }

    .leftside {
        display: none;
    }
    .buttoncontainer{
        flex-direction: row;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1001px) {
    .hmenu {
        display: none;
    }

    .leftsidemobile {
        display: none;
    }

}

@media only screen and (max-width: 1280px) {
    .AboutMe {
        margin: 0 15% 25px 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
        gap: 10px;
        grid-template-areas:
            "aboutmecontent aboutmecontent"
            "aboutmeimg aboutmeimg"
            "education experience"
            "skills buttoncontainer1"
            "skills buttoncontainer2"
            "skills buttoncontainer3"
        ;

    }


}
